.fc .fc-timegrid-slot {
  border-bottom: 0px;
  height: 1.5em;
  background-color: white;
}

.fc .fc-toolbar {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  font-size: xx-small;
}
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  font-weight: 400;
}
.fc .fc-button-primary {
  background-color: transparent;
  border: transparent;
  font-size: small;
  color: gray;
}
.rdp-chevron {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.canceled-slot {
  background-color: #e3f2fd !important; /* Light blue */
  border: 1px solid #90caf9;
}
.Dsp-slot {
  background-color: #fff3e0 !important; /* Light orange */
  border: 1px solid #ffcc80;
}
.reserved-slot {
  background-color: #e8f5e9 !important; /* Light green */
  border: 1px solid #a5d6a7;
}
.fc-event {
  margin: 1px !important;
}
