.fc .fc-timegrid-slot {
  border-bottom: 0px;
  height: 1.5em;
  background-color: white;
}

.fc .fc-toolbar {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  font-size: xx-small;
}
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  font-weight: 400;
}
.fc .fc-button-primary {
  background-color: transparent;
  border: transparent;
  font-size: small;
  color: gray;
}
